.App {
  background-color: #1f242d;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f242d;
  color: white;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1f242d;
  padding: 20px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.App-footer {
  text-align: center;
}

.logo {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  margin-left: 60%;
}

.navbar a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  display: inline-block;
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar a:hover, 
.navbar a.current {
  color: rgb(239, 41, 107);
}

#contact {
  color: white;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

#contact h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  color:rgb(239, 41, 107);
  margin-bottom: 2%;
}

#skills {
  color: white;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

#skills h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  margin-bottom: 50px;
  color:rgb(239, 41, 107);
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#experience {
  color: white;
  padding: 2rem;
  text-align: center;
  margin-bottom: 10%;
}

#experience h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  margin-bottom: 50px;
  color:rgb(239, 41, 107);
}

.experience-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
}

#about {
  position: relative;
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5% 0;
  margin-top: -100px;
}

.about-content {
  margin-right: 20px;
  margin-left: 80px;
  text-align: left;
}

.about-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  color:rgb(239, 41, 107);
}

.about-content p {
  font-size: 24px;
  font-weight: 500;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-duration: 0.7s;
}

#home {
  position: relative;
  width: 85%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10% 0;
  margin-top: -20px;
}

.home-content {
  margin-right: 20px;
  text-align: left;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-duration: 0.7s;
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 50px;
  animation: slideTop 1s ease forwards;
  animation-duration: 0.7s;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-duration: 0.7s;
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-duration: 0.7s;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-content h3 span {
  color:rgb(239, 41, 107);
}

.home-image img {
  max-width: 100%;
  height: auto;
  margin-right: -20;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-duration: 2s, 3s;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0);
  }
}

.socials a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(239, 41, 107);
  border-radius: 50%;
  font-size: 20px;
  color:rgb(239, 41, 107);
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-duration: calc(0.2s * var(--i));
}

.socials a:hover {
  background: rgb(239, 41, 107);
  color: #1f242d;
  box-shadow: 0 0 20px rgb(239, 41, 107);
}
